{% extends 'layout.html.twig' %}

{% block content %}
    <form action="{{ path('notes_login_check') }}" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Zarejestruj się</h2>
        <input id="username" type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Login" required autofocus>
        <input id="password" type="password" name="_password" class="form-control" placeholder="Hasło" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </form>
{% endblock %}
