<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				Notes Silex Application
			{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ app.request.basepath }}/css/nevbar.css" rel="stylesheet" media="screen">
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			
			{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
			{% for alert in alertTypeAvaillable %}
				{% for message in app.session.getFlashBag.get(alert) %}
					<div class="alert alert-{{ alert }}" >
						<button class="close" data-dismiss="alert">×</button>
						{{ message|trans }}
					</div>
				{% endfor %}
			{% endfor %}
	
			<div class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="{{ path('home') }}">Strona główna</a></li>
							<li><a href="{{ path('notes_list') }}">Lista notatek</a></li>
							<li><a href="{{ path('note_new') }}">Dodaj notatkę</a></li>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li><a href="{{ path('notes_logout') }}">Logout</a></li>
							{% else %}
								<li><a href="{{ path('login') }}">Zaloguj</a></li>
							{% endif %}
						</ul>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<ul class="nav navbar-nav navbar-right">
								<li><span>Witaj {{ app.security.token.user.username }}</span></li>
							</ul>
						{% endif %}
					</div><!--/.navbar-collapse -->
				</div>
			</div>
			<div class="jumbotron">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
  </body>
</html>
