body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > span {
  color: #777;
}

.navbar-nav > li > span {
    padding-bottom: 15px;
    padding-top: 15px;
}
.navbar-nav > li > span {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav > li > span {
    display: block;
    padding: 15px 15px;
    position: relative;
}
