{% extends 'layout.html.twig' %}

{% block content %}
<a href="{{ path('note_new') }}">
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-plus"></span> Dodaj notatkę
	</button>
</a><br /><br />
<table class="table">
    <thead>
    	<tr>
    		<th>Treść</th>
    		<th>Data publikacji</th>
    		<th>Autor</th>
    		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	    		<th>Edytuj</th>
	    		<th>Usuń</th>
	    	{% endif %}
    	</tr>
    </thead>
    <tbody>
	    {% for note in notes %}
	        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
	            <td>{{ note.content }}</td>
	            <td>{{ note.publicationDate|date("d-m-Y H:i:s") }}</td>
	            <td>{% if note.user.username is defined %}
	            		{{ note.user.username }}
	            	{% endif %}
	            </td>
	            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
	            	{% if note.user.username ==  app.security.token.user.username %}
	            		<td><a href="{{ path('note_edit', {'id': note.idNote}) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
	            		<td><a href="{{ path('note_delete', {'id': note.idNote}) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
	            	{% else %}
	            		<td>-</td>
	            		<td>-</td>
	            	{% endif %}
	            {% endif %}
	        </tr>
	    {% endfor %}
	</tbody>
</table>
{% endblock %}